<a href="https://colab.research.google.com/github/abhishekmishrabareilly/Structured-Query-Language/blob/main/store_dataset_in_python_using_pandasql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
!pip install pandas pandasql

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.25)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.3)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26772 sha256=d8392e5effe3c0dc880c3bca61a8c0ff11e46309ccac8867645f997a2d636022
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [14]:
import pandas as pd
import sqlite3

# Load the dataset into a Pandas DataFrame
df = pd.read_csv('/content/drive/MyDrive/smartphones.csv')

# Connect to an SQLite database (create it if it doesn't exist)
conn = sqlite3.connect('smartphones.db')

# Store the DataFrame in the database
df.to_sql('smartphones', conn, if_exists='replace', index=False)

# Close the database connection
conn.close()

In [17]:
import pandas as pd
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('smartphones.db')

conn.commit()
users = pd.read_sql_query ('''SELECT * FROM smartphones''',conn)

In [33]:
pd.read_sql_query ('''
SELECT  price, screen_size
FROM smartphones
WHERE brand_name = 'samsung'
ORDER BY screen_size DESC
LIMIT 1;



                    ''',conn)

    price  screen_size
0  154998          7.6

In [47]:
pd.read_sql_query ('''
SELECT
    model,
    ROUND(MAX(SQRT((resolution_width * resolution_width) + (resolution_height * resolution_height)) / screen_size), 2) AS highest_ppi
FROM
    smartphones





                    ''',conn)

               model  highest_ppi
0  Sony Xperia Pro-I       642.63